/* Fix bug boostrap 4 Beta 6 */
.nb-error {
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  padding: 60px 30px;
}
.nb-error .error-code {
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}
.nb-error .error-desc {
  font-size: 12px;
  color: #647788;
}
.nb-error .input-group{
  margin: 30px 0;
}