/* SESTA COLORI */
/* GENERAL */
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #44525b;
  font-size: 1.1rem; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 1rem; } }

body {
  padding-top: 138px; }

section, header, footer {
  overflow: hidden; }

section {
  padding: 10px 0; }

.container-fluid {
  padding: 0; }

header {
  padding-bottom: 10px; }

*:focus {
  outline: 0; }

.orange {
  color: #e65214 !important;
  opacity: 1 !important; }

.pre-header .container-fluid, nav .container-fluid, .contatti .container-fluid {
  padding-left: 3% !important;
  padding-right: 3% !important; }

@media screen and (max-width: 768px) {
  .img-fluid {
    height: auto !important; } }

.vert-align {
  display: table; }
  .vert-align .vert-cont {
    display: table-cell;
    vertical-align: middle !important; }

@media screen and (max-width: 768px) {
  .collezioni .vert-align {
    height: auto !important;
    padding-bottom: 15%;
    padding-top: 15%; } }

@media screen and (max-width: 1200px) {
  .concept .vert-align {
    display: block; } }
  @media screen and (max-width: 1200px) and (max-width: 768px) {
    .concept .vert-align {
      height: auto !important;
      padding-bottom: 10%; } }
@media screen and (max-width: 1200px) {
    .concept .vert-align .vert-cont {
      display: block;
      margin-top: 20%; } }
    @media screen and (max-width: 1200px) and (max-width: 1200px) {
      .concept .vert-align .vert-cont {
        margin-top: 10%; } }

@media screen and (max-width: 768px) {
  .designer .vert-align {
    height: auto !important;
    padding-bottom: 10%; } }
@media screen and (max-width: 1200px) {
  .designer .vert-cont {
    margin-top: 10%; } }

@media only screen and (max-width: 767px) {
  .same-height {
    height: auto !important; } }
.bg-light {
  background-color: #fff !important; }
  .bg-light * {
    color: #44525b; }

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
@media screen and (max-width: 992px) {
  .flex-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

a {
  text-decoration: none;
  color: #44525b; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #44525b; }

.bg-dark-sesta {
  background-color: #44525b; }
  .bg-dark-sesta * {
    color: #fff; }
  .bg-dark-sesta a:hover, .bg-dark-sesta a:focus, .bg-dark-sesta a:active {
    color: #fff; }

.bg-light-sesta {
  background-color: #fff; }
  .bg-light-sesta * {
    color: #44525b; }
  .bg-light-sesta a:hover, .bg-light-sesta a:focus, .bg-light-sesta a:active {
    color: #44525b; }

/* CARATTERI */
.btn-sesta {
  text-transform: uppercase;
  color: #44525b;
  border-bottom: 2px solid #44525b;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 0;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn-sesta:hover, .btn-sesta:focus, .btn-sesta:active {
    color: #68757d;
    border-bottom: 2px solid #68757d; }

.btn-download {
  width: 250px;
  letter-spacing: -1px;
  line-height: 50px;
  position: relative;
  border: 0 !important; }
  .btn-download:before {
    content: " ";
    width: 50px;
    height: 50px;
    background-color: #44525b;
    background-image: url("../../../img/utility/download.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    margin-right: 2px;
    float: left; }
  .btn-download:after {
    content: " ";
    width: 200px;
    height: 50px;
    border: 1px solid #44525b;
    display: inline-block;
    position: absolute;
    left: 52px;
    z-index: -1; }
  .btn-download:hover, .btn-download:focus, .btn-download:active {
    color: #fff !important;
    border: 0; }
    .btn-download:hover:after, .btn-download:focus:after, .btn-download:active:after {
      background-color: #44525b; }

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .breadcrumb {
      padding: .75rem 0rem; } }
  .breadcrumb span {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0; }
    @media screen and (max-width: 480px) {
      .breadcrumb span {
        font-size: 12px; } }
    .breadcrumb span a {
      color: #44525b; }
      .breadcrumb span a.active {
        color: #e65214 !important; }
    .breadcrumb span .breadcrumb_last {
      color: #e65214 !important;
      font-weight: normal; }

.p-2-columns {
  column-count: 2; }
  @media screen and (max-width: 767px) {
    .p-2-columns {
      column-count: 1; } }

.p-detail {
  border-bottom: 1px solid #44525b;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 500; }

.tit-sesta {
  text-transform: uppercase;
  letter-spacing: 3px; }
  .tit-sesta span {
    position: relative; }
    .tit-sesta span:before {
      content: " ";
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url(../../../img/utility/plus.svg) center center;
      background-size: 100%;
      margin-right: 10px;
      position: relative;
      top: 3px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .tit-sesta a {
    cursor: pointer; }
    .tit-sesta a:hover span:before {
      background-image: url(../../../img/utility/minus.svg); }
  .tit-sesta.no-icon span:after, .tit-sesta.no-icon span:before {
    display: none; }

.tit-section {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0 30px;
  color: #44525b;
  font-size: 2.2rem; }
  @media screen and (max-width: 480px) {
    .tit-section {
      font-size: 1.4rem;
      padding: 20px 0 0; } }
  .tit-section span {
    position: relative; }
    .tit-section span:before {
      content: " ";
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url(../../../img/utility/down.svg) center center;
      background-size: 100%;
      margin-right: 10px;
      position: relative;
      top: 3px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      @media screen and (max-width: 480px) {
        .tit-section span:before {
          width: 24px;
          height: 24px; } }

.tit-catalog {
  padding-bottom: 0;
  margin-bottom: 0; }
  .tit-catalog span:before {
    display: none; }

.tit-second {
  opacity: 0.5;
  font-size: 26px;
  padding-top: 5px; }
  @media screen and (max-width: 480px) {
    .tit-second {
      font-size: 20px; } }
  .tit-second span:before {
    width: 20px;
    height: 20px;
    top: 0; }
    @media screen and (max-width: 480px) {
      .tit-second span:before {
        width: 18px;
        height: 18px; } }

p {
  font-weight: 300;
  line-height: 1.25rem; }

.uppercase {
  text-transform: uppercase; }

.txt-light {
  color: #68757d; }

.pinterest span:before {
  display: none; }
.pinterest span:after {
  content: " ";
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../../../img/utility/pinterest.svg) center center;
  background-size: 100%;
  margin-left: 10px;
  position: relative;
  top: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media screen and (max-width: 768px) {
  .h2, h2 {
    font-size: 1.7rem; } }
@media screen and (max-width: 480px) {
  .h2, h2 {
    font-size: 1.5rem; }

  h4 {
    font-size: 1.2rem; } }
/* PRE HEADER */
.pre-header {
  height: 30px;
  background-color: #f2f2f2;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: right;
  overflow: visible; }

.login-nav {
  float: right; }
  .login-nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin: 0 0 0 30px;
    cursor: pointer; }
    .login-nav li a {
      color: #44525b !important; }
  .login-nav .pinterest-link img {
    width: 15px; }

.lingua-link {
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 15px;
  cursor: pointer;
  padding: 0 15px;
  overflow: hidden;
  background-color: #f2f2f2;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease; }
  .lingua-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 14px; }
  .lingua-link img {
    height: 12px !important;
    max-width: 100%; }
  .lingua-link a {
    margin: 0 4px;
    display: block;
    visibility: hidden;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease; }
    .lingua-link a.current_language {
      visibility: visible; }
  .lingua-link:hover {
    height: 95px;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease; }
    .lingua-link:hover a {
      visibility: visible;
      -webkit-transition: 200ms ease;
      -moz-transition: 200ms ease;
      -o-transition: 200ms ease;
      transition: 200ms ease; }

/* MENU */
nav.fixed-top {
  top: 30px; }

nav.navbar {
  background-color: #fff;
  padding: .5rem 0; }

.navbar-brand img {
  width: 100%;
  max-width: 150px; }

@media (max-width: 992px) {
  ul.navbar-nav {
    margin-top: 30px; } }
@media (min-width: 992px) {
  ul.navbar-nav {
    border-left: 2px solid #f2f2f2; } }
@media screen and (max-width: 480px) {
  ul.navbar-nav {
    font-size: 1.1rem; } }
ul.navbar-nav .nav-item {
  text-transform: uppercase; }
  ul.navbar-nav .nav-item.active > a, ul.navbar-nav .nav-item:hover > a, ul.navbar-nav .nav-item:focus > a, ul.navbar-nav .nav-item:active > a {
    color: #e65214 !important; }
  ul.navbar-nav .nav-item a {
    color: #44525b; }
  ul.navbar-nav .nav-item.dropdown {
    position: initial; }
  @media (min-width: 992px) {
    ul.navbar-nav .nav-item .nav-link {
      padding: .5rem 1.5rem 1.3rem 1.5rem; } }
ul.navbar-nav .dropdown-toggle::after {
  display: none; }

@media (min-width: 992px) {
  .logo-sesta {
    border-left: 2px solid #f2f2f2; } }
.logo-sesta a {
  padding-right: 0 !important; }
.logo-sesta img {
  max-width: 80px;
  position: relative;
  top: -2px; }

.dropdown-menu {
  position: absolute;
  width: 100%;
  padding: 1.5rem 0 0 0;
  margin: 0;
  background-color: rgba(242, 242, 242, 0.95);
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  border-top: 30px solid transparent;
  margin-top: -30px; }
  @media screen and (max-width: 480px) {
    .dropdown-menu {
      padding: 5px 0; } }
  @media screen and (max-width: 1400px) {
    .dropdown-menu .dropdown-item {
      padding: .25rem 0; } }
  @media screen and (max-width: 1300px) {
    .dropdown-menu .dropdown-item {
      white-space: normal; } }
  @media screen and (max-width: 1200px) {
    .dropdown-menu .dropdown-item {
      padding: 0; } }
  @media screen and (max-width: 1400px) {
    .dropdown-menu .dropdown-item span {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    .dropdown-menu .dropdown-item span {
      font-size: 1.1rem; } }
  .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
    color: #e65214;
    background-color: transparent; }
  .dropdown-menu img {
    max-width: 170px;
    position: relative;
    top: -20px;
    width: 100%; }
    @media screen and (max-width: 480px) {
      .dropdown-menu img {
        display: none; } }
  @media screen and (max-width: 768px) {
    .dropdown-menu .col-6 {
      width: 100% !important;
      max-width: 100% !important;
      text-align: left;
      flex: auto; } }

#menu-collezioni .container-fluid {
  padding-left: 0 !important;
  padding-right: 3% !important; }

.link-collezioni {
  padding-top: 10px;
  padding-bottom: 10px; }

.menu-login a.nav-link:after {
  content: " ";
  background-image: url(../../../img/utility/lock.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  opacity: 0.5;
  margin-left: 5px; }

.cerca-item:after {
  content: " ";
  background-image: url(../../../img/utility/search.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  opacity: 0.5;
  margin-left: 5px;
  position: relative;
  top: 2px; }

.menu-login {
  cursor: pointer; }

/* SLIDE HOME */
.to-down {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
  opacity: 0.7; }
  @media (max-width: 767px) {
    .to-down {
      display: none; } }
  .to-down img {
    width: 60px;
    height: 60px;
    transform: rotate(180deg); }

.carousel-indicators li {
  background-color: rgba(104, 117, 125, 0.3); }
  .carousel-indicators li.active {
    background-color: rgba(104, 117, 125, 0.7); }

.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (min-width: 768px) {
    .carousel-item {
      height: calc(100vh - 135px); } }
  @media (max-width: 480px) {
    .carousel-item {
      min-height: 180px; } }

@media (min-width: 768px) {
  .carousel-item-small {
    height: calc(80vh - 135px); } }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none !important; }

.carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  width: 50%;
  right: 0;
  left: auto; }
  @media (max-width: 480px) {
    .carousel-indicators {
      margin-bottom: 0; } }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0 5px; }

.tit-cat {
  text-transform: uppercase;
  opacity: 0.3;
  letter-spacing: 3px;
  margin: 0; }

.box-hover-image .hover-image {
  width: 100%;
  position: relative;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .box-hover-image .hover-image.hidden {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
.box-hover-image .tit-cat {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .box-hover-image .tit-cat:hover {
    opacity: 1; }
  .box-hover-image .tit-cat a {
    color: #fff;
    padding: 5px;
    line-height: 35px; }

.txt-cit {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 280px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7d868d; }
  @media screen and (max-width: 768px) {
    .txt-cit {
      position: relative; } }

.designer {
  display: block;
  color: #44525b;
  font-weight: 600; }
  .designer .tit-cat {
    margin-bottom: 10px; }

.txt-hover {
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 55%;
  left: 50%;
  margin-left: -300px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media screen and (max-width: 1500px) {
    .txt-hover {
      width: 96%;
      max-width: none;
      top: 55%;
      left: 2%;
      margin-left: 0; }
      .txt-hover p {
        font-size: 1rem;
        line-height: 1.1rem; } }
  @media screen and (max-width: 1300px) {
    .txt-hover p {
      font-size: 0.95rem;
      line-height: 0.9rem; } }
  @media screen and (max-width: 1200px) {
    .txt-hover {
      position: relative;
      width: 94%;
      max-width: none;
      left: auto;
      top: auto;
      margin-left: 3%; } }
  .txt-hover.hidden {
    visibility: hidden;
    opacity: 0; }
    @media screen and (max-width: 1200px) {
      .txt-hover.hidden {
        visibility: visible;
        opacity: 1; } }

/* MOSAIC */
.mosaic {
  padding-bottom: 0; }
  .mosaic .vert-align {
    width: 100%; }
  @media screen and (max-width: 1200px) {
    .mosaic .tit-sesta {
      font-size: 1.6rem;
      letter-spacing: 1px; } }
  .mosaic .col-mosaic > * {
    margin-bottom: 20px; }
  @media screen and (max-width: 992px) {
    .mosaic .hidden-sm-down {
      display: none; } }
  @media screen and (max-width: 992px) {
    .mosaic .col-md-15 {
      width: 50%; } }

@media screen and (max-width: 767px) {
  .blocco-comb h2 {
    letter-spacing: 0;
    font-size: 1.4rem; } }
/* CTA */
.cta .row {
  padding-top: 5%; }
.cta * {
  text-transform: uppercase; }
.cta h4 {
  color: #68757d; }

/* FOOTER */
.pre-footer, footer {
  padding: 0 5%; }
  .pre-footer > .container-fluid, footer > .container-fluid {
    max-width: 1500px; }

.pre-footer {
  background-color: #68757d;
  min-height: 40px; }
  .pre-footer .logo-sesta {
    border: 0;
    margin-top: 10px; }
  .pre-footer .to-top img {
    width: 40px;
    height: 40px; }
  .pre-footer .blog-sesta {
    line-height: 40px; }
    .pre-footer .blog-sesta img {
      width: 18px;
      position: relative;
      top: -2px; }
  @media screen and (max-width: 768px) {
    .pre-footer .text-center {
      position: absolute;
      width: 50%;
      left: 25%;
      z-index: 1000; } }

footer {
  background-color: #44525b;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media screen and (max-width: 768px) {
    footer {
      padding-top: 15px;
      padding-bottom: 15px; } }
  footer * {
    color: #fff; }
  footer p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 13px; }
    @media screen and (max-width: 768px) {
      footer p {
        font-size: 12px; } }
  footer .footer-menu {
    padding: 0; }
    @media screen and (max-width: 1200px) {
      footer .footer-menu .nav-link {
        padding: .5rem; } }
    @media screen and (max-width: 768px) {
      footer .footer-menu {
        display: none; } }
    footer .footer-menu li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      padding: 5px 10px; }
      @media screen and (max-width: 1200px) {
        footer .footer-menu li {
          padding: 0; } }
      footer .footer-menu li a {
        opacity: 0.5; }
        footer .footer-menu li a:hover {
          color: #fff;
          opacity: 1; }
  footer small {
    opacity: 0.5; }
  footer .certificazioni img {
    max-width: 70px; }
  footer .menu-login a.nav-link:after {
    display: none; }
  footer .mini-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block; }
    footer .mini-menu li {
      display: inline-block;
      opacity: 0.5;
      font-size: 80%; }
      @media screen and (max-width: 992px) {
        footer .mini-menu li a {
          padding: .5rem; } }
      @media screen and (max-width: 768px) {
        footer .mini-menu li a {
          padding: 0 .5rem; } }
      @media screen and (max-width: 992px) {
        footer .mini-menu li {
          font-size: 70%; } }
  @media screen and (max-width: 768px) {
    footer .text-center {
      padding-top: 20px; } }
  footer .nav-link {
    padding: .5rem; }

section + .pre-footer {
  margin-top: 5%; }

/* PRODOTTI */
.prodotti-categoria {
  text-align: center; }
  .prodotti-categoria .container > .row {
    margin-left: -30px;
    margin-right: -30px; }
    @media screen and (max-width: 480px) {
      .prodotti-categoria .container > .row {
        margin-left: -10px;
        margin-right: -10px; } }
  .prodotti-categoria .container .row > div {
    padding: 30px; }
    @media screen and (max-width: 480px) {
      .prodotti-categoria .container .row > div {
        padding: 10px; } }
  .prodotti-categoria img {
    padding-bottom: 5px;
    border-bottom: 1px solid #44525b;
    margin-bottom: 10px; }
  .prodotti-categoria .tit-prod {
    font-size: 17px;
    margin: 0; }
    @media screen and (max-width: 480px) {
      .prodotti-categoria .tit-prod {
        font-size: 15px; } }
  .prodotti-categoria .new {
    color: #68757d;
    opacity: 0.5;
    font-size: 22px; }
    @media screen and (max-width: 480px) {
      .prodotti-categoria .new {
        font-size: 18px; } }

.foto-modello:hover .tit-prod {
  color: #e65214;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.scheda-prodotto, .disegni-tecnici, .finiture, .download {
  margin-top: 80px; }

.download .text-right, .download .text-left {
  text-align: center !important; }

.finiture .cat-finitura, .finiture .codice-colore {
  font-weight: 500; }
.finiture .tit-section {
  padding-bottom: 60px; }
.finiture .gruppo-finitura {
  padding-bottom: 30px; }
.finiture .finitura {
  width: 100%;
  height: 70px;
  margin-bottom: 5px; }
.finiture .n .finitura {
  background-color: #000; }
.finiture .cr .finitura {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(left, black 9%, black 9%, white 78%, white 88%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, black 9%, black 9%, white 78%, white 88%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, black 9%, black 9%, white 78%, white 88%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); }
.finiture .an-75 .finitura, .finiture .an-75 .finitura {
  background-color: #747373; }
.finiture .bi-10 .finitura, .finiture .bi10 .finitura {
  background-color: #fff;
  border: 1px inset #000; }
.finiture .me-20 .finitura, .finiture .me20 .finitura {
  background-color: #e55213; }
.finiture .ro-30 .finitura, .finiture .ro30 .finitura {
  background-color: #ae0f0a; }
.finiture .pu-13 .finitura, .finiture .pu13 .finitura {
  background-color: #ece8d9; }
.finiture .pu-23 .finitura, .finiture .pu23 .finitura {
  background-color: #f7d806; }
.finiture .pu-77 .finitura, .finiture .pu77 .finitura {
  background-color: #f79148; }
.finiture .pu-32 .finitura, .finiture .pu32 .finitura {
  background-color: #c91c39; }
.finiture .pu-04 .finitura, .finiture .pu04 .finitura {
  background-color: #938775; }

.disable {
  opacity: 0.6; }

.wood-section {
  padding-top: 70px; }
  .wood-section .tit-second {
    padding-bottom: 0; }

/* CONTATTI */
section.contatti {
  padding-top: 5%; }
  section.contatti .container-fluid {
    max-width: 1500px; }
  section.contatti .pinterest {
    width: 18px; }
  section.contatti img {
    max-width: 150px; }

@media screen and (max-width: 768px) {
  form {
    padding-top: 40px; } }
form label {
  margin-bottom: 15px;
  width: 100%; }
form input, form textarea {
  font-size: 15px;
  padding: 9px 10px;
  width: 100%;
  border: 1px solid #44525b;
  border-radius: 0;
  box-shadow: none;
  color: #44525b; }
form textarea {
  height: 156px !important;
  margin-bottom: 8px;
  border-radius: 0; }
form .label-textarea {
  margin-bottom: 0; }
form select {
  font-size: 15px;
  padding: 10px 10px;
  width: 100%;
  color: #44525b;
  border: 1px solid #44525b;
  border-radius: 0;
  box-shadow: none; }
form small {
  font-size: 70%; }
form input[type="checkbox"] {
  float: left;
  width: auto;
  position: absolute;
  opacity: 0;
  cursor: pointer; }
  form input[type="checkbox"]:hover, form input[type="checkbox"]:focus, form input[type="checkbox"]:hover + span, form input[type="checkbox"]:focus + span {
    border-color: #ddd;
    color: #ddd;
    cursor: pointer; }
  form input[type="checkbox"]:checked + span {
    color: black;
    position: relative; }
form input[type="checkbox"] + span::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: .5em;
  position: relative;
  top: .25em;
  display: inline-block;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #44525b; }
form input[type="checkbox"]:checked + span::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 3px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-image: url("../../../img/utility/check.svg");
  background-size: 100%; }
form .privacy-check {
  font-size: 15px; }
  form .privacy-check span.wpcf7-list-item {
    margin: 0; }
  form .privacy-check .wpcf7-list-item-label {
    opacity: 1 !important; }
form input[type=submit] {
  border: 0;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #44525b;
  cursor: pointer;
  border-radius: 0; }
  form input[type=submit]:hover {
    background-color: #68757d; }

#loginform label {
  margin-bottom: 5px; }

.login-remember input[type="checkbox"]:checked + span::after {
  top: 3px; }

::-webkit-input-placeholder {
  color: #68757d; }

::-moz-placeholder {
  color: #68757d; }

:-ms-input-placeholder {
  color: #68757d; }

:-moz-placeholder {
  color: #68757d; }

/* MODAL LOGIN */
.modal-content, .modal-header {
  border-radius: 0 !important; }

.modal-header {
  position: absolute;
  right: 0;
  border: 0;
  z-index: 1000; }

.modal-body {
  padding: 50px; }
  @media screen and (max-width: 768px) {
    .modal-body {
      padding: 15px; } }

.modal-content {
  border: 1px solid #44525b; }
  .modal-content input {
    font-size: 15px;
    padding: 9px 10px;
    width: 100%;
    border: 1px solid #44525b;
    border-radius: 0; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
  background-image: none !important;
  color: #44525b !important; }

.login-username, .login-password {
  text-align: left; }

/* ARCHIVE COLLEZIONI */
.intro-collezioni .vert-cont {
  padding: 0 22%; }
  @media (max-width: 768px) {
    .intro-collezioni .vert-cont {
      padding: 0 10%; } }
  @media (max-width: 1400px) {
    .intro-collezioni .vert-cont {
      padding: 20px 10%; } }
  @media (min-width: 1920px) {
    .intro-collezioni .vert-cont {
      padding: 0 17%; } }
  .intro-collezioni .vert-cont p {
    line-height: 1.35rem; }
@media (max-width: 992px) {
  .intro-collezioni .img-fluid {
    height: auto !important; }
  .intro-collezioni .vert-align {
    display: table;
    height: auto !important; }
  .intro-collezioni .vert-align .vert-cont {
    display: block; } }

.categoria-wood div.sedie, .categoria-wood div.chairs, .categoria-wood div.chaises {
  display: none; }

/* COOKIE BAR */
.cc_container {
  font-size: 15px !important;
  border: 0 !important;
  max-width: 400px;
  left: 15px !important;
  bottom: 15px !important;
  padding-bottom: 55px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #44525b !important;
  font-family: 'Roboto Condensed', sans-serif !important; }
  @media screen and (max-width: 768px) {
    .cc_container {
      max-width: none;
      width: 92%; }
      .cc_container .cc_message, .cc_container .cc_btn {
        font-size: 0.9em !important; } }
  .cc_container .cc_btn {
    position: absolute !important;
    bottom: 15px !important;
    background-color: #44525b !important;
    color: #fff !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase; }
  .cc_container .cc_more_info {
    color: #44525b !important;
    font-weight: bold !important; }

#tab-register #header, #tab-register h2, #tab-register hr, .iframe #header, .iframe h2, .iframe hr {
  display: none; }

div.wpcf7-response-output {
  margin: 1em 0; }

span.wpcf7-not-valid-tip {
  font-size: 0.7em;
  margin-top: 3px; }

.errore-login {
  padding-bottom: 10px; }
  .errore-login b {
    color: #e65214; }

/*# sourceMappingURL=style.css.map */
