/* SESTA COLORI */
$sesta-color: #44525b;
$sesta-color-light: #68757d;
$sesta-orange: #e65214;
$light-grey: #f2f2f2;

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

/* GENERAL */
body {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: $sesta-color;
  font-size: 1.1rem;
  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}
body {
  padding-top: 138px;
}
section, header, footer {
  overflow: hidden;
}
section {
  padding: 10px 0;
}
.container-fluid {
  padding: 0;
}
header {
  padding-bottom: 10px;
}
*:focus {
  outline: 0;
}
.orange {
  color: $sesta-orange !important;
  opacity: 1 !important;
}
.pre-header .container-fluid, nav .container-fluid, .contatti .container-fluid {
  padding-left: 3% !important;
  padding-right: 3% !important;
}
.img-fluid {
  @media screen and (max-width: 768px) {
    height: auto !important;
  }
}
.vert-align {
  display: table;
    .vert-cont {
      display: table-cell;
      vertical-align: middle !important;
    }
}
.collezioni {
  .vert-align {
    @media screen and (max-width: 768px) {
      height: auto !important;
      padding-bottom: 15%;
      padding-top: 15%;
    }
  }
}
.concept {
  @media screen and (max-width: 1200px) {
    .vert-align {
      display: block;
      @media screen and (max-width: 768px) {
        height: auto !important;
        padding-bottom: 10%;
      }
      .vert-cont {
        display: block;
        margin-top: 20%;
        @media screen and (max-width: 1200px) {
          margin-top: 10%;
        }
      }
    }
  }
}
.designer {
  @media screen and (max-width: 768px) {
    .vert-align {
      height: auto !important;
      padding-bottom: 10%;
    }
  }
  @media screen and (max-width: 1200px) {
    .vert-cont {
      margin-top: 10%;
    }
  }
}
@media only screen and (max-width : 767px) {
  .same-height  {
    height: auto !important;
  }
}
.bg-light {
  background-color: #fff !important;
    * {
      color: $sesta-color;
    }
}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.flex-last {
  @media screen and (max-width: 992px) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
a {
  text-decoration: none;
  color: $sesta-color;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $sesta-color;
  }
}
.bg-dark-sesta {
  background-color: $sesta-color;
  * {
    color: #fff;
  }
  a:hover, a:focus, a:active {
    color: #fff;
  }
}
.bg-light-sesta {
  background-color: #fff;
  * {
    color: $sesta-color;
  }
  a:hover, a:focus, a:active {
    color: $sesta-color;
  }
}

/* CARATTERI */
.btn-sesta {
  text-transform: uppercase;
  color: $sesta-color;
  border-bottom: 2px solid $sesta-color;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 0;
  margin-top: 20px;
  @include transition (all, 0.5s, ease);
    &:hover, &:focus, &:active {
      color: $sesta-color-light;
      border-bottom: 2px solid $sesta-color-light;
    }
}
.btn-download {
  width: 250px;
  letter-spacing: -1px;
  line-height: 50px;
  position: relative;
  border: 0 !important;
    &:before {
      content: " ";
      width: 50px;
      height: 50px;
      background-color: $sesta-color;
      background-image: url("../../../img/utility/download.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 20px;
      display: inline-block;
      margin-right: 2px;
      float: left;
    }
    &:after {
      content: " ";
      width: 200px;
      height: 50px;
      border: 1px solid $sesta-color;
      display: inline-block;
      position: absolute;
      left: 52px;
      z-index: -1;
    }
    &:hover, &:focus, &:active {
      color: #fff !important;
      border: 0;
        &:after {
          background-color: $sesta-color;
        }
    }
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  @media screen and (max-width: 480px) {
    padding: .75rem 0rem;
  }
  span {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
      a {
        color: $sesta-color;
          &.active {
            color: $sesta-orange !important;
          }
      }
      .breadcrumb_last {
        color: $sesta-orange !important;
        font-weight: normal;
      }
  }
}
.p-2-columns {
  column-count: 2;
    @media screen and (max-width: 767px) {
      column-count: 1;
    }
}
.p-detail {
  border-bottom: 1px solid $sesta-color;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 500;
}
.tit-sesta {
  text-transform: uppercase;
  letter-spacing: 3px;
    span {
      position: relative;
        &:before {
          content: " ";
          width: 30px;
          height: 30px;
          display: inline-block;
          background: url(../../../img/utility/plus.svg) center center;
          background-size: 100%;
          margin-right: 10px;
          position: relative;
          top: 3px;
          @include transition (all, 0.5s, ease);
        }
    }
    a {
      cursor: pointer;
        &:hover span:before {
          background-image: url(../../../img/utility/minus.svg);
        }
    }
    &.no-icon {
      span:after, span:before {
        display: none;
      }
    }
}
.tit-section {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0 30px;
  color: $sesta-color;
  font-size: 2.2rem;
  @media screen and (max-width: 480px) {
    font-size: 1.4rem;
    padding: 20px 0 0;
  }
    span {
      position: relative;
      &:before {
        content: " ";
        width: 30px;
        height: 30px;
        display: inline-block;
        background: url(../../../img/utility/down.svg) center center;
        background-size: 100%;
        margin-right: 10px;
        position: relative;
        top: 3px;
        @include transition (all, 0.5s, ease);
        @media screen and (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    }
}
.tit-catalog {
  padding-bottom: 0;
  margin-bottom: 0;
    span {
      &:before {
        display: none;
      }
    }
}
.tit-second {
  opacity: 0.5;
  font-size: 26px;
  padding-top: 5px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
    span {
      &:before {
        width: 20px;
        height: 20px;
        top: 0;
        @media screen and (max-width: 480px) {
          width: 18px;
          height: 18px;
        }
      }
    }
}
p {
  font-weight: 300;
  line-height: 1.25rem;
}
.uppercase {
  text-transform: uppercase;
}
.txt-light {
  color: $sesta-color-light;
}
.pinterest {
  span:before {
    display: none;
  }
  span:after {
    content: " ";
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../../../img/utility/pinterest.svg) center center;
    background-size: 100%;
    margin-left: 10px;
    position: relative;
    top: 3px;
    @include transition (all, 0.5s, ease);
  }
}
@media screen and (max-width: 768px) {
  .h2, h2 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  .h2, h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
/* PRE HEADER */
.pre-header {
  height: 30px;
  background-color: $light-grey;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: right;
  overflow: visible;
}
.login-nav {
  float: right;
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin: 0 0 0 30px;
    cursor: pointer;
      a {
        color: $sesta-color !important;
      }
  }
  .pinterest-link {
    img {
      width: 15px;
    }
  }
}
.lingua-link {
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 15px;
  cursor: pointer;
  padding: 0 15px;
  overflow: hidden;
  background-color: #f2f2f2;
  -webkit-transition:200ms ease;
  -moz-transition:200ms ease;
  -o-transition:200ms ease;
  transition:200ms ease;
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 14px;
  }
  img {
    height: 12px !important;
    max-width: 100%;
  }
  a {
    margin: 0 4px;
    display: block;
    visibility: hidden;
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
    &.current_language {
      visibility: visible;
    }
  }
  &:hover {
    height: 95px;
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
    a {
      visibility: visible;
      -webkit-transition:200ms ease;
      -moz-transition:200ms ease;
      -o-transition:200ms ease;
      transition:200ms ease;
    }
  }
}
/* MENU */
nav.fixed-top {
  top: 30px;
}
nav.navbar {
  background-color: #fff;
  padding: .5rem 0;
}
.navbar-brand img {
  width: 100%;
  max-width: 150px;
}
ul.navbar-nav {
  @media (max-width: 992px) {
    margin-top: 30px;
  }
  @media (min-width: 992px) {
    border-left: 2px solid $light-grey;
  }
  @media screen and (max-width: 480px) {
    font-size: 1.1rem;
  }
  .nav-item {
    text-transform: uppercase;
    &.active>a, &:hover>a, &:focus>a, &:active>a {
      color: $sesta-orange !important;
    }
    a {
      color: $sesta-color;
    }
    &.dropdown {
      position: initial;
    }
    .nav-link {
      @media (min-width: 992px) {
        padding: .5rem 1.5rem 1.3rem 1.5rem;
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.logo-sesta {
  @media (min-width: 992px) {
    border-left: 2px solid $light-grey;
  }
  a {
    padding-right: 0 !important;
  }
  img {
    max-width: 80px;
    position: relative;
    top: -2px;
  }
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  padding: 1.5rem 0 0 0;
  margin: 0;
  background-color: rgba($light-grey, 0.95);
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  border-top: 30px solid transparent;
  margin-top: -30px;
    @media screen and (max-width: 480px) {
      padding: 5px 0;
    }
    .dropdown-item {
      @media screen and (max-width: 1400px) {
        padding: .25rem 0;
      }
      @media screen and (max-width: 1300px) {
        white-space: normal;
      }
      @media screen and (max-width: 1200px) {
        padding: 0;
      }
      span {
        @media screen and (max-width: 1400px) {
          font-size: 14px;
        }
        @media screen and (max-width: 480px) {
          font-size: 1.1rem;
        }
      }
    }
    .dropdown-item:focus, .dropdown-item:hover {
      color: $sesta-orange;
      background-color: transparent;
    }
    img {
      max-width: 170px;
      position: relative;
      top: -20px;
      width: 100%;
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  .col-6 {
    @media screen and (max-width: 768px) {
      width: 100% !important;
      max-width: 100% !important;
      text-align: left;
      flex: auto;
    }
  }
}
#menu-collezioni .container-fluid {
  padding-left: 0 !important;
  padding-right: 3% !important;
}
.link-collezioni {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-login a.nav-link:after {
  content: " ";
  background-image: url(../../../img/utility/lock.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  opacity: 0.5;
  margin-left: 5px;
}
.cerca-item:after {
  content: " ";
  background-image: url(../../../img/utility/search.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  opacity: 0.5;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.menu-login {
  cursor: pointer;
}

/* SLIDE HOME */
.to-down {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
  opacity: 0.7;
  @media (max-width: 767px) {
    display: none;
  }
    img {
      width: 60px;
      height: 60px;
      transform: rotate(180deg);
    }
}
.carousel-indicators li {
  background-color: rgba(#68757d,.3);
  &.active {
    background-color: rgba(#68757d,.7);
  }
}
.carousel-item {
  @media (min-width: 768px) {
    height: calc(100vh - 135px);
  }
  min-height: 300px;
  @media (max-width: 480px) {
    min-height: 180px;
  }
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item-small {
  @media (min-width: 768px) {
    height: calc(80vh - 135px);
  }
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none !important;
}
.carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  width: 50%;
  right: 0;
  left: auto;
  @media (max-width: 480px) {
    margin-bottom: 0;
  }
    li {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      margin: 0 5px;
    }
}
.tit-cat {
  text-transform: uppercase;
  opacity: 0.3;
  letter-spacing: 3px;
  margin: 0;
}
.box-hover-image {
  .hover-image {
    width: 100%;
    position: relative;
    visibility: visible;
    opacity: 1;
    @include transition (all, 0.5s, ease);
    &.hidden {
      position: absolute;
      visibility: hidden;
      left: 0;
      top: 0;
      opacity: 0;
      @include transition (all, 0.5s, ease);
    }
  }
  .tit-cat {
    @include transition (all, 0.5s, ease);
      &:hover {
        opacity: 1;
      }
      a {
        color: #fff;
        padding: 5px;
        line-height: 35px;
      }
  }
}
.txt-cit {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 280px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7d868d;
  @media screen and (max-width: 768px) {
    position: relative;
  }
}
.designer {
  display: block;
  color: $sesta-color;
  font-weight: 600;
    .tit-cat {
      margin-bottom: 10px;
    }
}
.txt-hover {
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 55%;
  left: 50%;
  margin-left: -300px;
  @media screen and (max-width: 1500px) {
    width: 96%;
    max-width: none;
    top: 55%;
    left: 2%;
    margin-left: 0;
      p {
        font-size: 1rem;
        line-height: 1.1rem;
      }
  }
  @media screen and (max-width: 1300px) {
    p {
      font-size: 0.95rem;
      line-height: 0.9rem;
    }
  }
  @media screen and (max-width: 1200px) {
    position: relative;
    width: 94%;
    max-width: none;
    left: auto;
    top: auto;
    margin-left: 3%;
  }
  @include transition (all, 0.5s, ease);
    &.hidden {
      visibility: hidden;
      opacity: 0;
      @media screen and (max-width: 1200px) {
        visibility: visible;
        opacity: 1;
      }
    }
}

/* MOSAIC */
.mosaic {
  padding-bottom: 0;
  .vert-align {
    width: 100%;
  }
  .tit-sesta {
    @media screen and (max-width: 1200px) {
      font-size: 1.6rem;
      letter-spacing: 1px;
    }
  }
  .col-mosaic {
    &>* {
      margin-bottom: 20px;
    }
  }
  .hidden-sm-down {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .col-md-15 {
    @media screen and (max-width: 992px) {
      width: 50%;
    }
  }
}
@media screen and (max-width: 767px) {
  .blocco-comb {
    h2 {
      letter-spacing: 0;
      font-size: 1.4rem;
    }
  }
}
/* CTA */
.cta {
  .row {
    padding-top: 5%;
  }
  * {
    text-transform: uppercase;
  }
  h4 {
    color: $sesta-color-light;
  }
}

/* FOOTER */
.pre-footer, footer {
  padding: 0 5%;
  & > .container-fluid {
    max-width: 1500px;
  }
}
.pre-footer {
  background-color: $sesta-color-light;
  min-height: 40px;
    .logo-sesta {
      border: 0;
      margin-top: 10px;
    }
    .to-top {
        img {
          width: 40px;
          height: 40px;
        }
    }
  .blog-sesta {
    line-height: 40px;
    img {
      width: 18px;
      position: relative;
      top: -2px;
    }
  }
  .text-center {
    @media screen and (max-width: 768px) {
      position: absolute;
      width: 50%;
      left: 25%;
      z-index: 1000;
    }
  }
}
footer {
  background-color: $sesta-color;
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  * {
    color: #fff;
  }
  p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 13px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .footer-menu {
    padding: 0;
    .nav-link {
      @media screen and (max-width: 1200px) {
        padding: .5rem;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      padding: 5px 10px;
      @media screen and (max-width: 1200px) {
        padding: 0;
      }
        a {
          opacity: 0.5;
            &:hover {
              color: #fff;
              opacity: 1;
            }
        }
    }
  }
  small {
    opacity: 0.5;
  }
  .certificazioni {
    img {
      max-width: 70px;
    }
  }
  .menu-login a.nav-link:after {
    display: none;
  }
  .mini-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
      li {
        display: inline-block;
        opacity: 0.5;
        font-size: 80%;
          a {
            @media screen and (max-width: 992px) {
              padding: .5rem;
            }
            @media screen and (max-width: 768px) {
              padding: 0 .5rem;
            }
          }
        @media screen and (max-width: 992px) {
          font-size: 70%;
        }
      }
  }
  .text-center {
    @media screen and (max-width: 768px) {
      padding-top: 20px;
    }
  }
  .nav-link {
    padding: .5rem;
  }
}
section + .pre-footer {
  margin-top: 5%;
}

/* PRODOTTI */
.prodotti-categoria {
  text-align: center;
  .container > .row {
    margin-left: -30px;
    margin-right: -30px;
    @media screen and (max-width: 480px) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .container .row > div {
    padding: 30px;
    @media screen and (max-width: 480px) {
      padding: 10px;
    }
  }
  img {
    padding-bottom: 5px;
    border-bottom: 1px solid $sesta-color;
    margin-bottom: 10px;
  }
  .tit-prod {
    font-size: 17px;
    margin: 0;
    @media screen and (max-width: 480px) {
      font-size: 15px;
    }
  }
  .new {
    color: $sesta-color-light;
    opacity: 0.5;
    font-size: 22px;
    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
}
.foto-modello:hover {
  .tit-prod {
    color: $sesta-orange;
    @include transition (all, 0.5s, ease);
  }
}
.scheda-prodotto, .disegni-tecnici, .finiture, .download {
  margin-top: 80px;
}
.download {
  .text-right, .text-left {
    text-align: center !important;
  }
}
.finiture {
    .cat-finitura, .codice-colore {
      font-weight: 500;
    }
    .tit-section {
      padding-bottom: 60px;
    }
    .gruppo-finitura {
      padding-bottom: 30px;
    }
    .finitura {
      width: 100%;
      height: 70px;
      margin-bottom: 5px;
    }
    .n .finitura {
      background-color: #000;
    }
    .cr .finitura {
      background: rgb(0,0,0); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,0,0,1) 9%,rgba(0,0,0,1) 9%,rgba(255,255,255,1) 78%,rgba(255,255,255,1) 88%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,0,0,1) 9%,rgba(0,0,0,1) 9%,rgba(255,255,255,1) 78%,rgba(255,255,255,1) 88%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
    }
    .an-75 .finitura, .an-75 .finitura {
      background-color: #747373;
    }
    .bi-10 .finitura, .bi10 .finitura {
      background-color: #fff;
      border: 1px inset #000;
    }
    .me-20 .finitura, .me20 .finitura {
      background-color: #e55213;
    }
    .ro-30 .finitura, .ro30 .finitura {
      background-color: #ae0f0a;
    }
    .pu-13 .finitura, .pu13 .finitura {
      background-color: #ece8d9;
    }
    .pu-23 .finitura, .pu23 .finitura {
      background-color: #f7d806;
    }
    .pu-77 .finitura, .pu77 .finitura {
      background-color: #f79148;
    }
    .pu-32 .finitura, .pu32 .finitura {
      background-color: #c91c39;
    }
    .pu-04 .finitura, .pu04 .finitura {
      background-color: #938775;
    }
}
.disable {
  opacity: 0.6;
}
.wood-section {
  padding-top: 70px;
    .tit-second {
      padding-bottom: 0;
    }
}

/* CONTATTI */
section.contatti {
  .container-fluid {
    max-width: 1500px;
  }
  padding-top: 5%;
  .pinterest {
    width: 18px;
  }
  img {
    max-width: 150px;
  }
}
form {
  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
  label {
    margin-bottom: 15px;
    width: 100%;
  }
  input, textarea {
    font-size: 15px;
    padding: 9px 10px;
    width: 100%;
    border: 1px solid $sesta-color;
    border-radius: 0;
    box-shadow: none;
    color: $sesta-color;
  }
  textarea {
    height: 156px !important;
    margin-bottom: 8px;
    border-radius: 0;
  }
  .label-textarea {
    margin-bottom: 0;
  }
  select {
    font-size: 15px;
    padding: 10px 10px;
    width: 100%;
    color: $sesta-color;
    border: 1px solid $sesta-color;
    border-radius: 0;
    box-shadow: none;
  }
  small {
    font-size: 70%;
  }
  input[type="checkbox"] {
    float: left;
    width: auto;
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:hover, &:focus, &:hover + span, &:focus + span {
      border-color: #ddd;
      color: #ddd;
      cursor: pointer;
    }

    &:checked + span {
      color: black;
      position:relative;
    }
  }
  input[type="checkbox"] + span::before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: .5em;
    position: relative;
    top: .25em;
    display: inline-block;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid $sesta-color;
  }
  input[type="checkbox"]:checked + span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-image: url("../../../img/utility/check.svg");
    background-size: 100%;
  }
  .privacy-check {
    font-size: 15px;
    span.wpcf7-list-item {
      margin: 0;
    }
    .wpcf7-list-item-label {
      opacity: 1 !important;
    }
  }
  input[type=submit] {
    border: 0;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: $sesta-color;
    cursor: pointer;
    border-radius: 0;
      &:hover {
        background-color: $sesta-color-light;
      }
  }
}
#loginform label {
  margin-bottom: 5px;
}
.login-remember input[type="checkbox"]:checked + span::after {
  top: 3px;
}
::-webkit-input-placeholder {
  color: $sesta-color-light;
}
::-moz-placeholder {
  color: $sesta-color-light;
}
:-ms-input-placeholder {
  color: $sesta-color-light;
}
:-moz-placeholder {
  color: $sesta-color-light;
}

/* MODAL LOGIN */
.modal-content, .modal-header {
  border-radius: 0 !important;
}
.modal-header {
  position: absolute;
  right: 0;
  border: 0;
  z-index: 1000;
}
.modal-body {
  padding: 50px;
  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}
.modal-content {
  border: 1px solid #44525b;
    input {
      font-size: 15px;
      padding: 9px 10px;
      width: 100%;
      border: 1px solid #44525b;
      border-radius: 0;
    }
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
  background-image: none !important;
  color: $sesta-color !important;
}
.login-username, .login-password {
  text-align: left;
}
/* ARCHIVE COLLEZIONI */
.intro-collezioni {
  .vert-cont {
    padding: 0 22%;
      @media (max-width: 768px) {
        padding: 0 10%;
      }
      @media (max-width: 1400px) {
        padding: 20px 10%;
      }
      @media (min-width: 1920px) {
        padding: 0 17%;
      }
    p {
      line-height: 1.35rem;
    }
  }
  @media (max-width: 992px) {
    .img-fluid {
      height: auto !important;
    }
    .vert-align {
      display: table;
      height: auto !important;
    }
    .vert-align .vert-cont {
      display: block;
    }
  }
}
.categoria-wood {
  div.sedie, div.chairs, div.chaises {
    display: none;
  }
}

/* COOKIE BAR */
.cc_container {
  font-size: 15px !important;
  border: 0 !important;
  max-width: 400px;
  left: 15px !important;
  bottom: 15px !important;
  padding-bottom: 55px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #44525b !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  @media screen and (max-width: 768px) {
    max-width: none;
    width: 92%;
    .cc_message, .cc_btn {
      font-size: 0.9em !important;
    }
  }
  .cc_btn {
      position: absolute !important;
      bottom: 15px !important;
      background-color: $sesta-color !important;
      color: #fff !important;
      margin-left: 0 !important;
      border-radius: 0 !important;
      text-transform: uppercase;
    }
  .cc_more_info {
    color: #44525b !important;
    font-weight: bold !important;
  }
}

#tab-register, .iframe {
  #header, h2, hr {
    display: none;
  }
}

div.wpcf7-response-output {
  margin: 1em 0;
}
span.wpcf7-not-valid-tip {
  font-size: 0.7em;
  margin-top: 3px;
}
.errore-login {
  padding-bottom: 10px;
  b {
    color: $sesta-orange;
  }
}