.login-nav .facebook-link img {
    width: 18px;
}
.login-nav .instagram-link img {
    width: 18px;
}
.login-nav .pinterest-link img {
    width: 17.5px;
}
.login-nav li {
    margin: 0 0 0 10px;
}
.pre-footer .blog-sesta img {
    width: 20px;
    margin-right: 5px;
}
.pinterest span:after {
	display: none;
}
.tit-section.pinterest img {
    max-width: 30px;
    position: relative;
    top: -4px;
}